    {{#each posts}}
    <article class="post">
        <div class="card">
            <div class="card-header flex-row justify-space-between">
            <h3><a class="title" href="/post/{{id}}">{{title}}</a></h3>
            <h4>
                Posted by {{User.username}} on {{format_date created_at}}.
            </h4>
            </div>
            <div class="card-body">
            <p> {{blog_content}} </p>
        </div>
        </div> 
        
    </article>
{{/each}}